<div class="editUserDetails dijit component component-margin" data-dojo-attach-point="containerNode">
	<h1 class="component-header">${l10n.editUserDetails}</h1>
	<div class="indiumForm" data-dojo-attach-point="dapForm" data-dojo-type="indium/control/SimpleForm">
		<ul class="staticFieldsList">
			<li class="dijitInline">
				<label>${l10n.firstName}</label>
				<span data-dojo-type="dijit/form/ValidationTextBox"
					  data-dojo-props="placeHolder: '${l10n.placeFirstName}', required:true,
					maxLength: 255, pattern:'^[a-zA-Z\' ]{1,}$',
					missingMessage: '${l10n.missingFirstNewUser}',
					invalidMessage: '${l10n.invalidNewUser}'"
					  name="firstName">
				</span>
			</li>
			<li class="dijitInline">
				<label>${l10n.lastName}</label>
				<span data-dojo-type="dijit/form/ValidationTextBox"
					  data-dojo-props="placeHolder: '${l10n.placeLastName}', required:true,
					maxLength: 255, pattern:'^[a-zA-Z\' ]{1,}$',
					missingMessage: '${l10n.missingLastNewUser}',
					invalidMessage: '${l10n.invalidNewUser}'"
					  name="lastName">
				</span>
			</li>
			<li>
				<label>${l10n.emailAddress}</label>
				<span data-dojo-type="dijit/form/ValidationTextBox"
					  data-dojo-props="placeHolder: '${l10n.placeEmailAddress}',required:true,
						validator:dojox.validate.isEmailAddress,
						missingMessage: '${l10n.missingEmailAddress}',
						invalidMessage: '${l10n.invalidEmailAddress}'"
					  name="email">
				</span>
			</li>
		</ul>
	</div>
	<div class="rolesList component-margin-content">
		<label class="listToListLeftHeading">${l10n.unassignedRoles}</label>
		<label class="listToListRightHeading">${l10n.assignedRoles}</label>
		<div class="unassignedRolesHolder" data-dojo-attach-point="dapListToList"></div>
	</div>
	<div class="component-action-buttons">
		<span data-dojo-type="dijit/form/Button"
			data-dojo-attach-point="dapUserCancelButton">${l10n.cancel}</span>
		<span data-dojo-type="dijit/form/Button"
			data-dojo-attach-point="dapUserSaveButton">${l10n.save}</span>
	</div>
</div>
