<div class="editUsersMembership dijit component component-margin">
	<h1 class="component-header">${l10n.editUserMemberships}</h1>
	<div class="editUsersGroupMembership">
		<div class="component-margin-content">
			<div class="editGroupTreeContainer" data-dojo-attach-point="dapEditGroupTree">
			</div>
		</div>
		<div class="component-action-buttons">
			<span data-dojo-type="dijit/form/Button"
				data-dojo-attach-point="dapUserGroupCancelButton">${l10n.cancel}
			</span>
			<span data-dojo-type="dijit/form/Button"
				data-dojo-attach-point="dapUserGroupSaveButton">${l10n.save}
			</span>
		</div>
	</div>
</div>
