<div class="newUser dijit component component-margin" data-dojo-attach-point="containerNode">
	<h1 class="component-header">${l10n.newUser}</h1>
	<div class="indiumForm" data-dojo-attach-point="dapForm" data-dojo-type="indium/control/SimpleForm">
		<ul class="staticFieldsList">
			<li class="dijitInline">
				<label>${l10n.firstName}</label>
				<span data-dojo-type="dijit/form/ValidationTextBox"
					  data-dojo-props="placeHolder: '${l10n.placeFirstName}', required:true,
						maxLength: 255, pattern:'^[a-zA-Z\' ]{1,}$',
						missingMessage: '${l10n.missingFirstNewUser}',
						invalidMessage: '${l10n.invalidNewUser}'"
					  name="firstName">
				</span>
			</li>
			<li class="dijitInline">
				<label>${l10n.lastName}</label>
				<span data-dojo-type="dijit/form/ValidationTextBox"
					  data-dojo-props="placeHolder: '${l10n.placeLastName}',
						required:true, maxLength: 255, pattern:'^[a-zA-Z\' ]{1,}$',
						missingMessage: '${l10n.missingLastNewUser}',
						invalidMessage: '${l10n.invalidNewUser}'"
					  name="lastName">
				</span>
			</li>
			<li class="dijitInline">
				<label>${l10n.emailAddress}</label>
				<span data-dojo-type="dijit/form/ValidationTextBox"
					  data-dojo-props="placeHolder: '${l10n.placeEmailAddress}',
						required:true, maxLength: 255,
						validator:dojox.validate.isEmailAddress,
						missingMessage: '${l10n.missingEmailAddress}',
						invalidMessage: '${l10n.invalidEmailAddress}'" name="email">
				</span>
			</li>
			<li class="dijitInline">
				<label>${l10n.onePassUserName}</label>
				<span data-dojo-type="dijit/form/ValidationTextBox"
					  data-dojo-props="placeHolder: '${l10n.placeOnePassUserName}', required:false,
					pattern:'^.{8,}$', maxLength: 70,
					invalidMessage: '${l10n.invalidOnePassUserName}'"
					  name="onePassUserName">
				</span>
			</li>
		</ul>
	</div>
	<h1 class="component-header">${l10n.userDetails}</h1>
	<div class="rolesList component-margin-content">
		<span class="listToListLeftHeading">${l10n.unassignedRoles}</span>
		<span class="listToListRightHeading">${l10n.assignedRoles}</span>
		<div class="unassignedRolesHolder" data-dojo-attach-point="dapNewUserRoles">
		</div>
	</div>
	<div class="component-margin-content">
		<h1 class="component-header">${l10n.groups}</h1>
		<div class="newDetailsHolder">
			<div class="groupTree"
				data-dojo-attach-point="dapNewUserTree">
			</div>
		</div>
	</div>
	<div class="component-action-buttons">
		<span data-dojo-type="dijit/form/Button"
			  data-dojo-attach-point="dapNewUserCancelButton">${l10n.cancel}
		</span>
		<span data-dojo-type="dijit/form/Button"
			  data-dojo-attach-point="dapNewUserCreateButton">${l10n.createUser}
		</span>
	</div>
</div>


