<div class="userDetails dijit">
	<div class="component component-margin">
		<ul class="component-stripe-content">
			<li class="odd">
				<label>${l10n.firstName}</label>
				<span data-dojo-attach-point="dapUserDetailsFirstName"></span>
			</li>
			<li>
				<label>${l10n.lastName}</label>
				<span data-dojo-attach-point="dapUserDetailsLastName"></span>
			</li>
			<li class="odd">
				<label>${l10n.emailAddress}</label>
				<span data-dojo-attach-point="dapUserDetailsEmailAddress"></span>
			</li>
		</ul>
	</div>
	<div class="component component-margin">
		<header class="component-header">
			<h1>${l10n.roles}</h1>
			<a data-dojo-attach-point="dapEditUserSettings"
			   class="editLink hidden" href="javascript:;">${l10n.edit}</a>
		</header>
		<div class="component-margin-content" data-dojo-attach-point="dapUserRolesList"></div>
	</div>
</div>
